<div>
  {{restaurant.name}}
</div>
<div>
  {{restaurant.Category.name}}
</div>
<br />
<hr>
<ul>
  <li>瀏覽次數 : </li>
  <li>評論數: {{commentNum}}</li>
  <li>收藏數: </li>
</ul>
<br />
<a href="javascript:history.back()">回上一頁</a>